# Logs
logs
*.log
.DS_Store

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Istanbul report
.nyc_output

# coverage report
coverage

# project local config
config/local-config.env
config/test/local-test-config.env